{% if pageCount > 1 %}
<nav>
    <ul class="pagination">
        {% if previous is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="first">
                &lt;&lt;
            </a>
        </li>
        {% endif %}

        {% if previous is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                &lt;
            </a>
        </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item active">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                &gt;
            </a>
        </li>
        {% endif %}

        {% if last is defined and current != last %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="last">
                &gt;&gt;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}